@import "./assets/styles/_reset.scss";
@import "./assets/styles/_variables.scss";
@import "./assets/styles/_mixins.scss";

.App {
  min-height: 100vh;
  background-color: $bg-cream;
  @include flexRow;
  font-family: $font-primary;
}
